body{
  margin:0;
}

header{
height: 100vh;
width: 100vw;
background-image: url(/Images/layered-waves-haikei.svg);
display: grid;
justify-content: center;
background-size: 150%;
background-position-y: -40rem;
animation: bg-animate 10s infinite alternate; 
}
@keyframes bg-animate {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}

h1{
  margin: 0;
  color: white;
  font-size: 5rem;
}